<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5993279988-86koepje89tqasg25no65ebhkq1p9qfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5993279988-86koepje89tqasg25no65ebhkq1p9qfr</string>
	<key>API_KEY</key>
	<string>AIzaSyAAB8Nf8f2lYvoLSAq2MSJMBpTmqQIgTkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>5993279988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kuza</string>
	<key>PROJECT_ID</key>
	<string>kuza-99aba</string>
	<key>STORAGE_BUCKET</key>
	<string>kuza-99aba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5993279988:ios:b44c625f09bc4ae90cc9a1</string>
</dict>
</plist>